
@{
    ViewBag.Title = "Manage Client User For HT Media LTD";
}


@section LeftNavigation{ @Html.Partial("_NavLeftClient") }
@section DisplayTitle{ @Html.Partial("_DisplayTitle") }
@section DisplayErrorMessage{ @Html.Partial("_DisplayErrorMessage") }

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        @using (Html.BeginForm("ManageClientUser", "Client", FormMethod.Get))
                        {
                            <div class="form-horizontal">
                                <div class="form-group branch search-frame">
                                    <label class="col-md-3 control-label">Enter Client :</label>
                                    <div class="col-md-5">
                                        @Html.TextBox("Search", null, new { @class = "form-control", placeholder = "Ex. User Id..." })
                                    </div>
                                    <div class="col-md-2">
                                        <input class="btn bun-bg btn-default" type="submit" value="Search" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-2 branch search-frame">
                        <a href='@Url.Action("AddClientUser", "Client")' class="btn bun-bg btn-default"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add User HT Media LTD</a>
                    </div>
                </div>
                @if (Model != null && Model.ClientHTMediaUsers != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @{

                                WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize, ajaxUpdateContainerId: "grid");
                                grid.Bind(Model.ClientHTMediaUsers, autoSortAndPage: false, rowCount: Model.TotalRecords);
                            }
                            @grid.GetHtml(
                                    htmlAttributes: new { id = "grid", @class = "table" },
                                    headerStyle: "thead-inverse",
                                    rowStyle: "ordertxt",
                                    footerStyle: "custpaging",
                                    mode: WebGridPagerModes.All,
                                    columns: new[]
                                    {
                                    grid.Column(format: @<text> <input type="checkbox" value="@item.ClientUserRowID" name="ids" /> </text>, header: "{checkall}",style:"col-md-0"),
                                    grid.Column(header: "No.", style:"col-md-1", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                                    grid.Column(columnName: "ClientName", header: "Client", canSort: true, style:"col-md-4"),
                                    grid.Column(columnName: "CreatedTime", header: "Created Time", canSort: false, style:"col-md-3"),
                                    //grid.Column("CreatedTime", "CreatedTime", format: (item) => item.CreatedTime != DateTime.MinValue ? item.CreatedTime.ToString("MM/dd/yyyy") : "", canSort: true,style:"col-md-1"),
                                    grid.Column(columnName: "UserID", header: "User ID", canSort: false, style:"col-md-3"),
                                    //grid.Column(columnName: "SentMailStatusYesNo", header: "Mail Sent Status", canSort: false, style:"col-md-1"),
                                    //grid.Column(columnName: "SentMailDate", header: "Mail Sent Date", canSort: false, style:"col-md-2"),

                                    grid.Column(header : "Edit", format : (item) => {
                                        var link = Html.ActionLink("Edit", "EditClientUser", "Client", new { id = item.ClientUserRowID }, null);
                                        return link;
                                    }, style:"edit col-md-1"),

                                    grid.Column("Delete", canSort: false, format: (item)=> {
                                        string DeleteLink = string.Format("<a href=\"#\" id=\"Delete_{0}\" class=\"delete\" >{1}</a>", item.ClientUserRowID, "Delete");
                                        return new HtmlString(DeleteLink);
                                    }, style:"delete col-md-1")
                                }
                            )
                            <div class="total-record">Total Records: @Model.TotalRecords</div>
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
      
        $(document).ready(function () {
            // 1st replace first column header text with checkbox
            $("#grid th").each(function () {
                if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                    $(this).text('');
                    $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                    //$(this).append("<span>Select All</span>");
                }
            });
            //2nd click event for header checkbox for select /deselect all           
            $("#cbSelectAll").click(function () {
                var ischecked = this.checked;
                $('#grid').find("input:checkbox").each(function () {
                    this.checked = ischecked;
                });
            });
            //3rd click event for checkbox of each row
            $("input[name='ids']").click(function () {
                var totalRows = $("#grid td :checkbox").length;
                var checked = $("#grid td :checkbox:checked").length;
                if (checked == totalRows) {
                    $("#grid").find("input:checkbox").each(function () {
                        this.checked = true;
                    });
                }
                else {
                    $("#cbSelectAll").removeAttr("checked");
                }
            });

        });
        $(".delete").on("click", function () {
            var str = $(this).attr("id").split("_");
            id = str[1];

            var flag = confirm('Do you want to Delete the Record ?');
            if (id != "" && flag) {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("DeleteClientUser", "Client")',
                    data: { "id": id },
                    dataType: "json",
                    beforeSend: function () { },
                    success: function (data) {
                        if (data.result == true) {
                            alert("Record Deleted Successfully!!");
                            setTimeout(function () { window.location.replace("ManageClientLogin"); }, 500);
                        }
                        else {
                            alert('There is some error');
                        }
                    }
                });
            }
        });
    </script>
}


