
@{
    ViewBag.Title = "Manage Client Dispositions (" + Convert.ToString(Session["ClientNameForContract"]) + ")";

    string faIcon = string.Format("<i class='fa fa-reply' aria-hidden='true'></i> Back");
    string hyperLink = Html.ActionLink("linkTitle", "ManagePQClient", "Client", null, new {@class = "headerbacklink"}).ToString();
    ViewBag.TitleBackBtn = new HtmlString(hyperLink.ToString().Replace("linkTitle", faIcon));
}

@section LeftNavigation{ @Html.Partial("_NavLeftClient") }
@section DisplayTitle{ @Html.Partial("_DisplayTitle") }
@{
    //For ClientTabs Section
    ViewBag.ClientID = Request.QueryString["CId"];
    ViewBag.DispostionCssClass = "current";
}
@section ClientTabs{ @Html.Partial("_ClientTabs") }
@section NavigationButton{ @Html.Partial("_NavigationButton") }
@section DisplayErrorMessage{ @Html.Partial("_DisplayErrorMessage") }

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                    <div class="col-md-9">
                        @using (Html.BeginForm("ManageClientCheckDispositions", "Client", FormMethod.Get))
                        {
                            <div class="form-horizontal">
                                <div class="form-group branch search-frame">
                                    <label class="col-md-3 control-label">Check Family :</label>
                                    <div class="col-md-7">
                                        @Html.TextBox("Search", null, new { @class = "form-control", placeholder = "Ex. Check Family Name..." })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.Hidden("CId", Request.QueryString["CId"], new { @id = "hdnCId" })
                                        <input class="btn bun-bg btn-default" type="submit" value="Search" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model != null && Model.ClientChekFamilies != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize, ajaxUpdateContainerId: "grid");
                                grid.Bind(Model.ClientChekFamilies, autoSortAndPage: false, rowCount: Model.TotalRecords);
                            }
                            @grid.GetHtml(
                                    htmlAttributes: new { id = "grid", @class = "table" },
                                    headerStyle: "thead-inverse",
                                    rowStyle: "ordertxt",
                                    footerStyle: "custpaging",
                                    mode: WebGridPagerModes.All,
                                    columns: new[]
                                    {
                                    grid.Column(header: "No.", style:"col-md-1", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                                    grid.Column(columnName: "CheckFamilyName", header: "Check Family", canSort: false, style:"col-md-6"),
                                    grid.Column(header: "Disposition Map", canSort: false, format : (item) => item.DispositionMap == 1 ? "Yes" : "No", style:"col-md-2"),
                                    grid.Column(header : "", format : (item) => {
                                        var link = Html.ActionLink("Manage Disposition", "ManageClientDispositions", "Client", new { CId = item.ClientRowID,ChkId=item.CheckFamilyRowID }, null);
                                        return link;
                                    }, style:"edit col-md-2"),
                                }
                            )
                            <div class="total-record">Total Records: @Model.TotalRecords</div>
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>
</div>
