
@{
    ViewBag.Title = "Manage Beyond 180days Employers";
}

@{
    //@ViewBag.NavigationBtnAddNew
    string faIconAddNew = string.Format("<i class='fa fa-plus-circle' aria-hidden='true'></i> Add Employer");
    string hyperLinkAddNew = Html.ActionLink("linkTitle", "AddEmployer", "Master", null, new { @class = "btn bun-bg btn-default" }).ToString();
    ViewBag.NavigationBtnAddNew = new HtmlString(hyperLinkAddNew.ToString().Replace("linkTitle", faIconAddNew));


    //@ViewBag.NavigationBtnExportExcel
    string faIconExportExcel = string.Format("<i class='fa fa-file-excel-o' aria-hidden='true'></i> Export Excel");
    string hyperLinkExportExcel = Html.ActionLink("linkTitle", "ExportEmployer", "Master", null, new { @class = "btn bun-bg btn-default" }).ToString();
    ViewBag.NavigationBtnExportExcel = new HtmlString(hyperLinkExportExcel.ToString().Replace("linkTitle", faIconExportExcel));
}

@section LeftNavigation{ @Html.Partial("_NavLeftMaster") }
@section DisplayTitle{ @Html.Partial("_DisplayTitle") }
@*@section NavigationButton{ @Html.Partial("_NavigationButton") }*@
@section DisplayErrorMessage{ @Html.Partial("_DisplayErrorMessage") }


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("ManageBeyondEmployers", "Master", FormMethod.Get))
                        {
                            <div class="form-horizontal">
                                <div class="form-group branch search-frame">
                                    <label class="col-md-3 control-label">Enter Employer :</label>
                                    <div class="col-md-5">
                                        @Html.TextBox("Search", null, new { @class = "form-control", placeholder = "Ex. Employer name..." })
                                    </div>
                                    <div class="col-md-2">
                                        <input class="btn bun-bg btn-default" type="submit" value="Search" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                  
                </div>
                @if (Model != null && Model.Employers != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @{

                                WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize, ajaxUpdateContainerId: "grid");
                                grid.Bind(Model.Employers, autoSortAndPage: false, rowCount: Model.TotalRecords);
                            }
                            @grid.GetHtml(
                                    htmlAttributes: new { id = "grid", @class = "table" },
                                    headerStyle: "thead-inverse",
                                    rowStyle: "ordertxt",
                                    footerStyle: "custpaging",
                                    mode: WebGridPagerModes.All,
                                    columns: new[]
                                    {
                                    grid.Column(header: "S.No.", style:"col-md-1", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                                    grid.Column(columnName: "CompanyName", header: "Company Name", canSort: false, style:"col-md-3"),
                                    grid.Column(columnName: "CompanyStatus", header: "Company Status", canSort: false, style:"col-md-2"),
                                    grid.Column(columnName: "ConcernPersonName", header: "Contact Person Name", canSort: false, style:"col-md-2"),
                                    
                                    grid.Column(header : "Edit", format : (item) => {
                                        var link = Html.ActionLink("Edit", "EditEmployer", "Master", new { id = item.EmployerRowID, bynd=true }, null);
                                        return link;
                                    }, style:"edit col-md-1"),


                                }
                            )
                            <div class="total-record">Total Records: @Model.TotalRecords</div>
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>
</div>


