<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGV - @ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/bootstrap-theme.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/Site.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Scripts/modernizr-2.8.3.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery-3.1.1.min.js")'></script>
    <script src='@Url.Content("~/Scripts/DisableBackForwordBtn.js")'></script>
</head>
<body>    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    @Html.Partial("_Header")                   
                    @Html.Partial("_Menu")
                </div>
			    <div class="master-middle">
                    <div class="row">
                        <div class="col-md-12">
                            <table width="100%" align="center">
                                <tr>
                                    <td width="16%" valign="top" class="left-frame">
                                        @RenderSection("LeftNavigation", required: false)                                        
                                    </td>
                                    <td width="1%" valign="top">&nbsp;</td>
                                    <td valign="top" class="right-frame">
                                        @RenderSection("DisplayTitle", required: false)
                                        @RenderSection("ClientTabs", required: false)
                                        @RenderSection("NavigationButton", required: false)
                                        @RenderSection("DisplayMandatory", required: false)
                                        @RenderSection("DisplayErrorMessage", required: false)
                                        @RenderBody()
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    @Html.Partial("_Footer")
                </div>
            </div>
        </div>
    </div>
        
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    @RenderSection("Scripts", required: false)
</body>
</html>