<div class="padremove">
    <nav class="bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav">
            <li><a href='@Url.Action("ManageAbbreviation", "Client")'>Abbreviation</a></li>
            <li><a href='@Url.Action("ManageSubGroup", "Client")'>Sub-Group</a></li>
            @*<li><a href='@Url.Action("ManageDrugTest", "Client")'>Set Drug Test</a></li>
            <li><a href='@Url.Action("ManageDrugTestCategory", "Client")'> Drug-Category Details</a></li>
            <li><a href='@Url.Action("ManageCheckDatabase", "Client")'> Database Check</a></li>*@
            <li><a href='@Url.Action("ManagePQClient", "Client")'>Manage Clients</a></li>
            <li><a href='@Url.Action("ManageClientLogin", "Client")'>  Manage Client User</a></li>
           @* <li><a href='@Url.Action("ManageCandidateLogin", "Client")'>Manage Candidate User</a></li>
              <li><a href='@Url.Action("ManageClientUser", "Client")'>Manage Client User For HT Media LTD</a></li>*@
               @* <li><a href='@Url.Action("ManageAbbreviation", "Client")'>Set Client Field</a></li>
    <li><a href='@Url.Action("ManageAbbreviation", "Client")'>Create user ID/Email Server Details</a></li>*@

        </ul>
    </nav>   
</div>
