<div class="row">
    <div class="col-md-12">
        <div class="top_buton_bg">
            @ViewBag.NavigationBtnBack
            @ViewBag.NavigationBtnAddNew
            @ViewBag.NavigationBtnExportExcel
            @ViewBag.NavigationBtnExportWord
            @ViewBag.NavigationBtnBackExportPDF
        </div>
    </div>
</div>
